.footerWrap{
    width: 100%;
    background-color: #27272A;
    display: flex;
    justify-content: space-evenly;
}
.footerWrap > div{
    padding: 30px 20px;
}
.footerWrap h4 {
    color: #BF0110;
    font-size: 25px;
    font-weight: bold;
}
.footerWrap span {
    color: #FFFF;
}
.footerWrap h5{
    font-size: 20px;
    color: #FFFF;
    width: 70%;
}

.navWrap {
    display: flex;
    flex-direction: row;
}
.navWrap li{
    font-weight: 400;
    color: #FFFF;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}
.container{
    display: block;
    justify-content: space-evenly;
}
.container p {
    text-align: center;
    color: #FFFF;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .footerWrap{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .footerWrap div:nth-child(1), .navWrap {
        display: none;
    }
    .container {
        width: 100%;
    }
    .container p {
        padding: 0;
        margin: 0;
        color: #BF0110;
        text-align: center;
        font-weight: 500;
    }
    .container span {
        color: #FFFF;
    }
}
