.header{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navWrap{
    list-style: none;
    display: flex;
    gap: 30px;
}
.li:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .navWrap{
        display: none;
    }   
}