.header {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navWrap {
  list-style: none;
  display: flex;
  gap: 30px;
}
.li:hover {
  text-decoration: underline;
}
.Button {
  display: none;
}
.showMenu {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    margin: 0;
    position: fixed;
  }
  .navWrap {
    display: none;
    width: 100%;
    height: 100%;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -41.5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  background-color: #5c5c5e;
  padding: 0;
  margin: 0;
  }
  .btnAcess {
    display: none;
  }
  .Button {
    display: block;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #18181B;
    color: #fff;
  }
  .Button:hover {
    cursor: pointer;
  }
  .showMenu {
    display: none;
  }
}
