.wrapper{
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.item_one{
    margin: 0 auto;
    width: 40%;
}
.wrapper h4{
    font-weight: bold;
    font-size: 30px;
    color: #101828;
    margin: 5px;
}
.wrapper h4 span {
    color: #BF0110;
}
.wrapper h5{
    color: gray;
    font-weight: 300;
    font-size: 25px;
    word-spacing: 3px;
    margin: 5px;
}
.wrapper h6{
    margin: 10px;
}
.info_btn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.info_btn span {
    font-size: 35px;
}
.info_btn p {
    font-size: 12px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 10px;
}