.wrapper{
    width: 75%;
    display: flex;
    gap: 0;
    margin: 0 auto;
    align-items: center;
}
.item_one{
    margin: 0 auto;
    width: 55%;
}
.wrapper h4{
    padding: 0;
    font-weight: bold;
    font-size: 40px;
    color: #101828;
    margin: 3px;
}
.wrapper h4 span {
    color: #BF0110;
}
.wrapper h5{
    padding: 0;
    color: gray;
    font-weight: 400;
    font-size: 30px;
    word-spacing: 4px;
    margin: 0px;
    letter-spacing: 1px;
}

.wrapper h6{
    margin: 10px 0;
    font-size: 17px;
    font-weight: 300;
}
.info_btn_wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.info_btn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.info_btn span {
    font-size: 35px;
}
.info_btn p {
    font-size: 12px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 10px;
}
.HeroButton {
    display: flex;
    gap: 20px;
}


@media screen and (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .item_one{
        padding: 50px 10px 5px;
        width: 100%;
    }
    .wrapper h4{
        font-size: 30px;
        margin: 1.5px;
    }
    .wrapper h4 span {
        color: #BF0110;
    }
    .wrapper h5{
        padding: 0;
        font-size: 25px;
        word-spacing: 4px;
        margin: 0px;
        letter-spacing: 0px;
    }
    
    .wrapper h6{
        margin: 2px 0 7px 0;
        font-size: 15px;
        font-weight: 300;
    }
    .HeroImage {
        display: none;
    }
}